# # Name: Assad Karim
# Roll No :KJPADAC12677

In [7]:
# 5.1
emp1 = (101, "Ali", "HR")
emp2 = (102, "Bilal", "IT")
emp3 = (103, "Saad", "Finance")

print("Employee 1 ID:", emp1[0])
print("Employee 1 Name:", emp1[1])
print("Employee 1 Department:", emp1[2])


print("Employee 2 ID:", emp2[0])
print("Employee 2 Name:", emp2[1])
print("Employee 2 Department:", emp2[2])


print("Employee 3 ID:", emp3[0])
print("Employee 3 Name:", emp3[1])
print("Employee 3 Department:", emp3[2])

Employee 1 ID: 101
Employee 1 Name: Ali
Employee 1 Department: HR
Employee 2 ID: 102
Employee 2 Name: Bilal
Employee 2 Department: IT
Employee 3 ID: 103
Employee 3 Name: Saad
Employee 3 Department: Finance

In [8]:
#5.2


item1 = (4001, "Laptop", 15)
item2 = (4002, "Mouse", 100)
item3 = (4003, "Keyboard", 50)

print("Item 1 ID:", item1[0])
print("Item 1 Description:", item1[1])
print("Item 1 Quantity:", item1[2])

print("Item 2 ID:", item2[0])
print("Item 2 Description:", item2[1])
print("Item 2 Quantity:", item2[2])

print("Item 2 ID:", item3[0])
print("Item 2 Description:", item3[1])
print("Item 2 Quantity:", item3[2])

Item 1 ID: 4001
Item 1 Description: Laptop
Item 1 Quantity: 15
Item 2 ID: 4002
Item 2 Description: Mouse
Item 2 Quantity: 100
Item 2 ID: 4003
Item 2 Description: Keyboard
Item 2 Quantity: 50

In [10]:
#5.3

meet1 = ("2024-08-20", "14:00")
meet2 = ("2024-08-21", "10:30") 
meet3 = ("2024-08-19", "11:30")
appointment = ("2024-08-22", "09:00")

print("Meeting 1 Date:", meet1[0])
print("Meeting 1 Time:", meet1[1])

print("Meeting 2 Date:", meet2[0])
print("Meeting 2 Time:", meet2[1])

print("Meeting 3 Date:", meet3[0])
print("Meeting 3 Time:", meet3[1])

print("Appointment Date:", appointment[0])
print("Appointment Time:", appointment[1])

Meeting 1 Date: 2024-08-20
Meeting 1 Time: 14:00
Meeting 2 Date: 2024-08-21
Meeting 2 Time: 10:30
Meeting 3 Date: 2024-08-19
Meeting 3 Time: 11:30
Appointment Date: 2024-08-22
Appointment Time: 09:00

In [14]:

# 5.4 

departments = {}


departments["Sales"] = {
    "Ali": {"ID": 1, "Title": "Sales Manager"}}
departments["Marketing"] = {
    "Bilal": {"ID": 2, "Title": "Marketing Manager"}}
departments["IT"] = {
    "Saad": {"ID": 3, "Title": "IT Manager"}}

for department in departments:
    print("Department:", department)
    for employee in departments[department]:
        details = departments[department][employee]
        print("Name:", employee)
        print("ID:", details["ID"])
        print("Title:", details["Title"])
        print()

Department: Sales
Name: Ali
ID: 1
Title: Sales Manager

Department: Marketing
Name: Bilal
ID: 2
Title: Marketing Manager

Department: IT
Name: Saad
ID: 3
Title: IT Manager

In [17]:
# 5.5

std = [
    {"name": "Ali", "scores": {"Math": 82, "Programing": 91}},
    {"name": "Bilal", "scores": {"Math": 76, "Programing": 84}},
    {"name": "Asad", "scores": {"Math": 89, "Programing": 93}}
]

# Retrieving a student's scores
for student in std:
    if student["name"] == "Bilal":
        print("Bilal Math Score:", student["scores"]["Math"])
        print("Bilal Programing Score:", student["scores"]["Programing"])

Bilal Math Score: 76
Bilal Programing Score: 84

In [21]:
#5.6

projects = {
    "ProjectA": ["Task1", "Task2", "Task3"],
    "ProjectB": ["Task4", "Task5"],
    "ProjectC": ["Task6", "Task7", "Task8", "Task9"]
}


for project, tasks in projects.items():
    print("Project:", project)
    for task in tasks:
        print("Task:", task)
    print()

Project: ProjectA
Task: Task1
Task: Task2
Task: Task3

Project: ProjectB
Task: Task4
Task: Task5

Project: ProjectC
Task: Task6
Task: Task7
Task: Task8
Task: Task9

In [24]:
#5.7


courses = {}

courses["Course 1"] = {"Module 1": "Introduction", 
                       "Module 2": "Basics"}
courses["Course 2"] = {"Module 3": "Advanced", 
                       "Module 4": "Expert"}
courses["Course 3"] = {"Module 5": "Specialized", 
                       "Module 6": "Mastery"}

for course, modules in courses.items():
    print("Course:", course)
    for module, content in modules.items():
        print("Module:", module)
        print("Content:", content)
    print()

Course: Course 1
Module: Module 1
Content: Introduction
Module: Module 2
Content: Basics

Course: Course 2
Module: Module 3
Content: Advanced
Module: Module 4
Content: Expert

Course: Course 3
Module: Module 5
Content: Specialized
Module: Module 6
Content: Mastery

In [31]:
# List of products with their prices
products = [
    ("Mouse", 500), ("Keyboard", 600),("Ram", 2500),("SDD", 4000),("ROM", 1500)
]

# Price threshold
price_threshold = 700

cheap_products = []


for product in products:
    if product[1] < price_threshold:
        cheap_products = cheap_products + [product]


print("Products below", price_threshold)
for product in cheap_products:
    print("Product:", product[0])
    print("Price:", product[1])
    print()

Products below 700
Product: Mouse
Price: 500

Product: Keyboard
Price: 600